.aside-menu {
  background-color: $aside-bg;
  width: 300px;
  height: 100%;
  transition: all 0.5s ease;

  @media screen and (max-width: 1200px) {
    position: absolute;
    z-index: 1000;
    left: -100%;
  }

  &__inner {
    padding: 30px 18px 52px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__item {
    padding: 25px;
  }

  &__link {
    display: flex;
    align-items: center;
    color: $color-menu-items;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(20 / 14);
    & > img {
      margin-right: 17px;
    }
  }

  &__settings-btn {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(20 / 14);
    color: $color-menu-items;
    & > img {
      margin-right: 17px;
    }
  }

  &__settings {
    padding: 20px;
  }
}

.aside-menu.active {
  left: 0;
}

.aside-menu__item.aside-menu__item--active {
  background-color: $aside-menu-item-active;
  border-radius: 4px;
  color: #fff;
}

.aside-logo__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-left: 24px;
}

.logo__link {
  display: flex;
  align-items: center;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: calc(29 / 24);
  letter-spacing: -0.04em;
  color: #fff;

  & > img {
    margin-right: 8px;
  }
}

.aside-logo__btn-mobile {
  display: block;
  background-color: $brand-color;
  width: 40px;
  height: 40px;
  font-size: 25px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  & > img {
    width: 15px;
    height: 15px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.aside-logo__btn-mobile.active .aside-menu {
  left: -50%;
}

.aside-logo__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 15px;
  background-color: $brand-color;
  border-radius: 50%;

  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.avatar {
  &__inner {
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: #fff;
    padding: 20px;
    border-top: 1px solid #344055;
  }

  &__img {
    margin-right: 17px;
  }
}
