.section__transactions-history {
  margin-bottom: 30px;
}

.recent__section-inner {
  margin-bottom: 32px;
  @media screen and (min-width: 920px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.recent-search {
  display: flex;
  align-items: center;
}

.recent-search__input {
  @media screen and (max-width: 920px) {
    width: 100%;
  }
  width: 342px;
  margin-right: 12px;
  border: 1px solid #e2e8f0;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 30px;
  padding: 12px 24px;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: -0.02em;
}

.recent-search__btn {
  padding: 13px;
  background-color: $brand-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transactions-history__list-mobile {
  margin-bottom: 32px;
  @media screen and (min-width: 920px) {
    display: none;
  }
}

.transactions-history__list-desktop {
  display: block;
  margin-bottom: 32px;
  @media screen and (max-width: 920px) {
    display: none;
  }
}

.transactions-history__item-mobile,
.transactions-history__item-des {
  display: grid;
  align-items: center;
  padding: 20px 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
}

.transactions-amount {
  display: flex;
  justify-content: flex-end;
}

.transactions-history__item-mobile {
  @media screen and (max-width: 340px) {
    font-size: 12px;
  }
  grid-template-columns: repeat(2, 1fr) auto;
}

.transactions-history__item-des {
  grid-template-columns: repeat(5, 1fr);
}

.transactions-history__list-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 16px;
}

.transactions-history__list-names {
  background-color: #f8fafc;
  border-bottom: 1px solid #e2e8f0;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.transaction-name {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: -0.01em;
  color: $color-title;
}

.transaction-name:last-child {
  display: flex;
  justify-content: flex-end;
}

.transactions-history__download {
  background-color: $brand-color;
  font-weight: 600;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: -0.02em;
  padding: 12px 24px;
  color: #fff;
  border-radius: 30px;
}

.footer__recent {
  min-width: 100%;
  height: 100px;
  background-color: #f8fafc;
}

.footer__inner {
  min-height: 100px;
  padding: 14px 0;
  display: flex;
  align-items: center;
}

.extra-shake__prev-btn,
.shake__prev-btn {
  transform: rotate(180deg);
}

.shake__wrapper {
  display: flex;
  gap: 30px;
}

.footer__item {
  display: flex;
  align-items: center;

  & > span {
    margin: 0 10px;
  }
}

.footer__item + .footer__item {
  margin-left: 32px;
}

.center {
  display: flex;
  align-items: center;
}

.amount__page {
  margin-right: 16px;
}

.pages {
  padding: 12px;
  border: 1px solid #e2e8f0;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 4px;
}
