$main-color: #344055;
$descr-color: #79808a;
$color-title: #121212;
$color-subtitle: #5b6776;
$progrss-bg: #f7f8fd;
$brand-color: #4f46e5;
$progress-fl: #4f46e5;
$progress-cash-color: #4f46e5;
$progress-cash-color-light: #b8b6f7;
$create-wallet-bg: #f7f8fd;
$aside-bg: #080325;
$aside-menu-item-active: #191a38;
$color-menu-items: #cbcfd5;
